.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}
/* Temel stil kuralları */
.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Tabletler için stil kuralları */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Masaüstü bilgisayarlar için stil kuralları */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
